<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Audi Mexico</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link rel="icon" type="image/png" href="/static/img/Logo.png"/>

</head>

<div class="container">
    <div>
        <img src="/static/img/Logo.png" width="300" alt="Logo" />
        <div>
            <form method="post">
                <input type="text" placeholder="Usuario " id="username" name="username">
                <i class="fa fa-user"></i>
        </div>
        <div>
            <input type="password" placeholder="Contraseña" id="password" name="password">
            <i class="fa fa-lock"></i>

        </div>
        <p>{{ alert }}</p>
        <input type="submit" value="Iniciar sesión" />

        </form>
    </div>

</div>