{% extends "navbars.html" %}

{% block content %}
<body>
  <form method="POST" class="form-group">
    <v-text-field
      v-model="name"
      :counter="10"
      :rules="nameRules"
      label="Name"
      name="username"
      id="username"
      required
    ></v-text-field>

    <v-text-field
      v-model="email"
      :rules="emailRules"
      label="E-mail"
      name="password"
      id="password"
      required
    ></v-text-field>

    

    <v-checkbox
      v-model="checkbox"
      :rules="[v => !!v || 'You must agree to continue!']"
      label="Do you agree?"
      required
    ></v-checkbox>

    <input type="submit" class="btn btn-outline-success" value="Guardar Usuario"/>
      

    
  </form>
</body>
</html> 

{% endblock %}