{% extends "navbars.html" %}

{% block content %}
<form method="post" class="form-group">
    <div class="card">
        <div>
            <h4>Id</h4>
            <input type="text" placeholder="Id" id="idUsuario" name="idUsuario" class="form-control">
            <i class="fa fa-user"></i>
        </div>
        <p></p>
        <div>
            <h4>Nombre</h4>
            <input type="text" placeholder="Ingrese nombre de usuario " id="nombreUsuario" name="nombreUsuario" class="form-control">
            <i class="fa fa-user"></i>
        </div>
        <p></p>
        <div>
            <h4>Tipo de usuario</h4>
            <input type="text" placeholder="Ingrese nombre de usuario " id="nombreUsuario" name="nombreUsuario" class="form-control">
            <i class="fa fa-user"></i>
        </div>
        <p></p>
        <div>
            <h4>Contraseña</h4>
            <input type="password" placeholder="Contraseña" id="password" name="password" class="form-control">
            <i class="fa fa-lock"></i>
        </div>
        <div>
            <h4>Confirmar contraseña</h4>
            <input type="password" placeholder="Contraseña" id="password" name="password" class="form-control">
            <i class="fa fa-lock"></i>
        </div>

        <input type="submit" class="btn btn-outline-primary" value="Guardar Usuario"/>
    </div>
    
</form>
{% endblock %}