{% extends "navbars.html" %}

{% block content %}
<body padding>
  <form method="POST" class="form-group">
    <h3> <center>Ingresar datos de las piezas </center> </h3>
    
    
    <v-text-field
    v-model="idparte"
    :counter="10"
    :rules="nameRules"
    label="Id de parte"
    id="idParte"
    name="idParte"
    required
  ></v-text-field>


  <v-text-field
    v-model="numeroParte"
    :counter="10"
    :rules="nameRules"
    label="Numero de la parte"
    id="num_parte"
    name="num_parte"
    required
  ></v-text-field>

  <v-text-field
    v-model="num_parte_index"
    :counter="10"
    :rules="nameRules"
    label="Nombre de la parte"
    id="num_parte_index"
    name="num_parte_index"
    required
  ></v-text-field>

  <v-text-field
    v-model="descripcion"
    :counter="10"
    :rules="nameRules"
    label="Descripcion"
    id="descripcion"
    name="descripcion"
    required
  ></v-text-field>

  <v-text-field
  v-model="duns"
  :counter="10"
  :rules="nameRules"
  label="Peso de la pieza"
  id="duns"
  name="duns"
  required
></v-text-field>

  <v-text-field
    v-model="alto"
    :counter="10"
    :rules="nameRules"
    label="Alto de la pieza"
    id="alto"
    name="alto"
    required
  ></v-text-field>

  <v-text-field
  v-model="largo"
  :counter="10"
  :rules="nameRules"
  label="Largo de la pieza"
  id="largoPieza"
  name="largo"
  required
></v-text-field>

<v-text-field
    v-model="ancho"
    :counter="10"
    :rules="nameRules"
    label="Ancho de la pieza"
    id="anchoPieza"
    name="ancho"
    required
  ></v-text-field>

  <v-text-field
  v-model="peso"
  :counter="10"
  :rules="nameRules"
  label="Peso de la pieza"
  id="peso"
  name="peso"
  required
></v-text-field>

 
  

  




<!---
  <v-text-field
    v-model="altoPieza"
    :counter="10"
    :rules="nameRules"
    label="Alto de la pieza"
    id="altoPieza"
    name="altoPieza"
    required
  ></v-text-field>

-->
<!---
  <v-text-field
    v-model="largoPieza"
    :counter="10"
    :rules="nameRules"
    label="Largo de la pieza"
    id="largoPieza"
    name="largoPieza"
    required
  ></v-text-field>
-->

<!---
  <v-text-field
    v-model="anchoPieza"
    :counter="10"
    :rules="nameRules"
    label="Ancho de la pieza"
    id="anchoPieza"
    name="anchoPieza"
    required
  ></v-text-field>
-->
<!---
  <v-text-field
    v-model="pesoPieza"
    :counter="10"
    :rules="nameRules"
    label="Peso de la pieza"
    id="pesoPieza"
    name="pesoPieza"
    required
  ></v-text-field>
-->


<!---

  <v-text-field
    v-model="ebr"
    :counter="10"
    :rules="nameRules"
    label="EBR"
    id="ebr"
    name="ebr"
    required
  ></v-text-field>

-->
<!---
  <v-text-field
    v-model="tiempoProveedor"
    :counter="10"
    :rules="nameRules"
    label="Tiempo proveedor"
    id="tiempoProveedor"
    name="tiempoProveedor"
    required
  ></v-text-field>
-->


<!---

  <v-text-field
    v-model="empaquesug"
    :counter="10"
    :rules="nameRules"
    label="Empaques Ug"
    id="empaquesug"
    name="empaquesug"
    required
  ></v-text-field>
-->


<!---
  <v-text-field
    v-model="piezasporcont"
    :counter="10"
    :rules="nameRules"
    label="Piezas por contar"
    id="piezasporcont"
    name="piezasporcont"
    required
  ></v-text-field>
-->
  

  <v-checkbox
    v-model="checkbox"
    :rules="[v => !!v || 'You must agree to continue!']"
    label="Todo listo?"
    required
  ></v-checkbox>

  <input type="submit" class="btn btn-outline-success" value="Guardar registro de piezas"/>
  
  </v-btn>
  </form>
</body>

{% endblock %}